.el-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .el-button {
        margin-left: 20px;
        i {
            font-size: 24px;
        }
    }
}

#add-btn {
    margin-left: auto;
}



.role-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // .name {
    //     color: #666;
    // }
}