.editor-action-bar {
  $bar-bg: #3c3c3c;
  $font-color: #b1b1b1;
  $hover-bg: #505050;

  background: $bar-bg;
  color: $font-color;

  font-size: 14px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

  li {
    padding: 8px 16px;
    cursor: default;
    &:not(.title-area):hover {
      background: $hover-bg;
    }

    &.title-area {
      position: absolute;
      left: 50%;
      width: 400px;
      text-align: center;
      margin-left: -200px;
      font-size: 13px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &.save-btn.disabled {
      opacity: 0.5; //设置蒙版效果
      pointer-events: none; //禁止鼠标事件
    }

    &.close-btn {
      margin-left: auto;
      font-size: 16px;

      &:hover {
        color: #fff;
        background: #d71526;
      }
    }
  }
}

.monaco-editor {
  height: calc(100vh - 32px);
}

.el-main {
  height: calc(100vh - 50px - 60px - 20px);
}

.station-tag {
  margin-right: 10px;
  margin-top: 10px;
}

.add-station-input {
  width: 230px;
  margin-top: 10px;
}

.list-row {
  height: 100%;
  // height: calc(100vh - 50px - 60px);
  .el-col {
    height: 100%;

    .v-list-header {
      display: flex;
      justify-content: space-between;
    }

    .v-list-item {
      padding: 0 10px;
      display: flex;
      align-items: center;
      height: 44px;
      letter-spacing: 0.75px;
      color: #303133;
      justify-content: space-between;

      .action-buttons {
        margin-left: auto;
        display: flex;
        align-items: center;

        .buttons {
          float: right;
        }
      }
    }
  }
}

.action-bar {
  .sub-bar {
    padding: 0 10px;
    width: 50%;
    align-items: center;
  }
}

.config-form-drawer {
  .priview-row {
      height: 100%;

      .el-col {
          height: 100%;
      }

      .right-panel {
          .action-bar {
              height: 45px;
          }
          .scrollbar-body {
              padding: 20px 10px 20px 0;
              height: calc(100vh - 45px);
          }
      }
  }

  .config-editor {
      height: 100%;
  }

  .form-footer {
      display: flex;
      margin-top: 10px;
      justify-content: flex-end;
  }

  .action-bar {
      display: flex;
      justify-content: flex-end;
  }
}

#save-btn {
  display: flex;
  align-items: center;
  margin-right: auto;
}

::v-deep .el-drawer__body {
  overflow:unset;
}

.dynamic-code {
  font-weight: 500;
  font-size: 36px;
  letter-spacing: 8px;
  display: inline-block;
  width: 120px;
}

.locked {
  color: #909399;
}