// @import "./../../styles/element-variables.scss";

$--color-primary: #1890ff;
$--color-success: #13ce66;
$--color-warning: #ffba00;
$--color-danger: #ff4949;
$--color-info: #5d5d5d;
$--button-font-weight: 400;
$--color-text-regular: #1f2d3d;
$--border-color-light: #dfe4ed;
$--border-color-lighter: #e6ebf5;
$--table-border: 1px solid#dfe6ec;

::v-deep .el-scrollbar {
    height: calc(100vh - 50px - 60px - 20px);
    .el-scrollbar__wrap {
        overflow-x: auto;
    }

    .el-scrollbar__bar.is-vertical {
        z-index: 3;
    }
}

.el-main {
    padding: 10px 20px;
    height: calc(100vh - 50px - 60px);
}

.form-item-cmd {
    display: flex;
    justify-content: space-between;
    // align-items:;
    .el-input {
        flex: 1;
        margin-right: 10px;
    }

    ::v-deep i.el-icon-question {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
    }
}

.noList-item-desc {
    float: right;
    color: #8492a6;
    font-size: 13px;
}

.search-input {
    width: 500px;
    margin-left: auto;
}

::v-deep .el-table {
    .unit-text {
        background-color: #ebeef5;
        color: #909399;
        border-radius: 4px;
        padding: 2px 4px;
        font-size: 12px;
    }
}
::v-deep .default-pass-condition-text {
    background-color: #f2f6fc;
    color: #c0c4cc;
    border-radius: 4px;
    padding: 2px 4px;
    font-size: 12px;
}

::v-deep .delete-test-item-dialog {
    .el-dialog__body {
        padding-top: 0;
    }

    .where-used {
        li {
            margin-top: 10px;
        }
    }
}

.status-bar {
    display: flex;
    gap: 4px;

    .status-item {
        border-radius: 100%;
        color: white;
        padding: 4px;
        display: flex;
        cursor: pointer;
    }

    svg {
        fill: white;
        width: 12px;
        height: 12px;
    }

    .always-run {
        background-color: $--color-success;
    }

    .hidden {
        background-color: $--color-info;
    }

    .un-used {
        background-color: $--color-warning;
    }
}

.padding-left-20 {
    padding-left: 20px;
}
